updated-n8n-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "path": "9737cee1-bd24-4beb-8b0d-a0779104a74b",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -300,
        140
      ],
      "id": "ce03f4e4-eaf9-4a61-9fe4-64f210d35663",
      "name": "Webhook",
      "webhookId": "9737cee1-bd24-4beb-8b0d-a0779104a74b"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/kavinthangavel/i2yt/actions/workflows/download.yml/runs?status=success&per_page=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        140
      ],
      "id": "d8c11abc-a510-495a-891c-bb998a03a2c8",
      "name": "List Workflow Runs",
      "credentials": {
        "githubApi": {
          "id": "dLPSz2KOLou6s3gw",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/kavinthangavel/i2yt/actions/runs/{{$json[\"workflow_runs\"][0][\"id\"]}}/artifacts",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        140
      ],
      "id": "6fe7de3a-4e6c-485d-9f07-0ce5a7321fb9",
      "name": "Get Artifacts",
      "credentials": {
        "githubApi": {
          "id": "dLPSz2KOLou6s3gw",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.artifacts[0].archive_download_url }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": false
            }
          },
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        140
      ],
      "id": "04097ee3-18d0-433a-afb0-2eb37942c206",
      "name": "Get Artifact ZIP Link",
      "credentials": {
        "githubApi": {
          "id": "dLPSz2KOLou6s3gw",
          "name": "GitHub account"
        },
        "httpHeaderAuth": {
          "id": "h6YlYZSlZjMaj8CW",
          "name": "Github PAT"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.headers.location }}",
        "options": {
          "redirect": {
            "redirect": {}
          },
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        140
      ],
      "id": "aa0983fe-ce29-435c-8a1e-d0b484868989",
      "name": "Download ZIP"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        900,
        140
      ],
      "id": "4733e57c-2772-4de4-a8c9-21b0ce06a14a",
      "name": "Compression"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "file_0",
        "destinationKey": "title",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1120,
        140
      ],
      "id": "6810b296-8009-43bb-90f8-a260b68bb3ed",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.title }}",
        "options": {
          "systemMessage": "this is a reels description,\ni need you to remove everything that's unrelated to title for youtube video,\nlike remove the sponsers,tags,etc..\nmake sure to crct the grammers,and make it in simple english"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1480,
        340
      ],
      "id": "7418135b-6ad1-45d1-a4f4-b08a5c7e73fa",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1440,
        720
      ],
      "id": "aaa095e1-1839-4185-8025-0968b53c0c03",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "5t6yuZyke2tn7WS5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1940,
        40
      ],
      "id": "5953acdc-cd8c-4548-ab03-0dd4bdc5f21a",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $json.output }}",
        "regionCode": "IN",
        "categoryId": "27",
        "binaryProperty": "file_1",
        "options": {
          "notifySubscribers": true,
          "privacyStatus": "private"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        2200,
        -60
      ],
      "id": "7bd40af1-de6d-45e8-8211-a8410e40a5d6",
      "name": "YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "cNOlsCAZOX64Ryn7",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appcsAZ5JDZr6RsP1",
          "mode": "list",
          "cachedResultName": "i2yt",
          "cachedResultUrl": "https://airtable.com/appcsAZ5JDZr6RsP1"
        },
        "table": {
          "__rl": true,
          "value": "tblmKFwvhnrcblUpD",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appcsAZ5JDZr6RsP1/tblmKFwvhnrcblUpD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $('Webhook').item.json.source_url }}",
            "Date": "={{ new Date().toISOString() }}",
            "account_type": "={{ $('Webhook').item.json.account_type || 'primary' }}",
            "youtube_url": "={{ $json.html_url }}",
            "status": "processed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "account_type",
              "displayName": "account_type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "youtube_url",
              "displayName": "youtube_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2220,
        180
      ],
      "id": "2c72d573-017d-40a0-8281-268c2e724e78",
      "name": "Airtable - Track Processed",
      "credentials": {
        "airtableTokenApi": {
          "id": "4bPpHpuS5pMDHJqC",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "List Workflow Runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Workflow Runs": {
      "main": [
        [
          {
            "node": "Get Artifacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Artifacts": {
      "main": [
        [
          {
            "node": "Get Artifact ZIP Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Artifact ZIP Link": {
      "main": [
        [
          {
            "node": "Download ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download ZIP": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable - Track Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "65a56dd878a5f49b5b2692a4cdf9fc29f961b739ef9d70c77bc994fc8945239a"
  }
}
